name: Deploiement Azure

on:
  push:
    branches:
      - main
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Récupérer le code
    - name: Checkout GitHub Action
      uses: actions/checkout@v4

    # 2. Configurer Node.js
    - name: Setup Node 20
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    # 3. Installer et Build (Même si c'est vide pour l'instant)
    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present

    # 4. Déployer sur Azure
    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'khallaouiApp'
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: .