name: Deploy to SAP BTP

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy-to-sap:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Installer l'outil SAP
      - name: Install CF CLI
        run: |
          wget -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
          echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
          sudo apt-get update
          sudo apt-get install cf8-cli

      # Déployer (Le manifest.yml fait tout le travail)
      - name: Deploy
        run: |
          cf api ${{ secrets.CF_API_URL }}
          cf auth "${{ secrets.CF_USERNAME }}" "${{ secrets.CF_PASSWORD }}"
          cf target -o "${{ secrets.CF_ORG }}" -s "${{ secrets.CF_SPACE }}"
          
          # La commande est maintenant très simple
          cf push